/* ===================================================== */
/* Extra small devices (phones, less than 320px)         */
/* No media query since this is the default in Bootstrap */
/* ===================================================== */
/*
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900);
@import url("//fonts.googleapis.com/css?family=Ropa+Sans:400normal,400italic");
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic,900|Source+Code+Pro); 
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900|Merriweather:400,300,700);

.marker {
	background-color: purple;
	color: white;
}
/* Secure correct behaviour in older browsers */
header, section, footer, aside, nav, main, article, figure {
	display: block;
}
body {
	padding: 0;
	margin: 50px 0 0 0;
	background-color: #21385e; /* #2b497b; */
	color: #21385e; 
}
/* Skip navbar when jumping to pages */
#services, #our-customers, #contact, #about-us {
	margin-top: -50px;
	padding-top: 50px;
}
.defaultFont {
	font-family: 'Lato', Arial, sans-serif;
}
.altFont {
	font-family: 'Merriweather', Palatino, serif; 
}
.btn {
	font-size: 0.9em;
	border-radius: 5px;	
	background-color: #ae632b;
	color: white;
}
/* At startup hide all but Jumbotron. Will later be managed by JS */
nav, .EN , #services, #about-us, #contact, #our-customers {
	display: none;
}
/* Some general stuff */
.dot {
	font-size: 1.4em;
	color: orange;
}
/*
	Some markup for text styles
	May be overridden in media queries
*/

h1, h2, h3, h4, h5, h6 {
	color: #2b497b;
}
/* Header for Jumbotron */
h1 {
	font-size: 2.0em;
}
/* Header for modal */
h2 {
	font-size: 1.8em;
}
/* Header for aside/*-left */
h3 {
	font-size: 1.7em;
	font-weight: 900;
}
/* Header for section/*-right */
h4 {
	font-size: 1.5em;
	font-weight: 900
}
h5 {
	font-size: 1.0em;
}
#more-contact .list-group-item p,
#disclaimer .list-group-item p  {
	font-size: 1.2em;
}
/* Some markup on Jumbotron */
#KT-jumbo {
	font-size: 3.1em;
	font-weight: 900;
	color: #2b497b;
	margin: 0 0 15px 0;
	padding: 0 0 70px 0;
	border-bottom: 1px solid white;
}
.jumbotron p {
	font-size: 1.9em;
	margin: 5px 0 30px 0;
}
.jumbotron {
	margin-top: -50px;
	background-image: url('images/globusBlue.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
}
.jumbotron img {
	width: 40px;
	opacity: 0.6;
	margin-top: -15px;
	text-decoration: underline;
}
.jumbotron a {
	font-size: 1.2em;
	font-weight: 400;
	color: #2b497b;
}
/* Some markup on Box Right */
section h4 {
	padding: 4% 0 3% 0;
}
/* Some markup on asides */
aside h3 {
	margin: 8% 0 8% 0;
}
aside img {
	width: 140px;
}
aside .list-group {
	font-size: 1.3em;
	font-weight: 400;
}
/* Some markup on Modals */
#more-about-us .modal-title {
	font-size: 2.0em;
	font-weight: 900;
	color: #2b497b;
}
.modal-header, .modal-footer {
	background-color: #b4c5e4;
	text-align: center;
}
#more-service .modal-content .modal-footer {
	padding-top: 0;
	text-align: center;
}
.modal-body {
	background-color: #d9e2f2;
}
/* Fancy button on modal boxes */
button.close {
	background: #606061;
	color: #FFFFFF;
	opacity: 1;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 34px;
	height: 34px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

button.close:hover { background: #00d9ff; }

#disclaimer {
	font-size: 1.0em;
}
/* Some markup on NavBar */
.navbar-default {
	background: rgba(33, 56, 94 , 0.8);
	border-bottom: 0;
}
.navbar-fixed-top .navbar-nav li a {
	color:  white; /* #c7d4eb; */
}
.navbar-fixed-top .navbar-nav li a:visited {
	color:  white; /* #c7d4eb; */
}
.navbar-fixed-top .navbar-nav > li > a:hover {
	color: orange;
}
.navbar-collapse {
	border-radius: 8px;
}
#nav-KT {
	font-size: 1.7em;
	font-weight: 900;
	text-decoration: none;
	color: #c6d4eb;
	padding: 8px 0 0 15px;
}
/* ============================================= */
/* B E M                                         */
/* ==========  SERVICES - FRAME LEFT ========== */
#services-left {
	background-color: #b1a9e1;
}
/* ==========  SERVICES - FRAME RIGHT ========= */
#services-right {
	background-color: #f2f2f2;
}
.services-right__btn {
	margin: 10% 0 10% 0;
}
/* ==========  ABOUT US - FRAME LEFT ========== */
#about-us-left {
	background-color: #b1a9e1;
}
/* ==========  SERVICES - FRAME RIGHT ========= */
#about-us-right {
	background-color: #f2f2f2;
}
.about-us-right__logo {
	width: 40px;
}
.about-us-right__btn {
	margin: 5% 0 10% 0;
}
/* ======== OUR-CUSTOMERS - FRAME LEFT ======== */
#our-customers-left {
	background-color: #b1a9e1;
}
.our-customers-left__text {
	font-size: 1.2em;
	margin: 0 0 10px 0; 
}
.our-customers-left__notOnly {
	font-weight: 900;
	font-size: 1.2em;
}
/* ======== OUR-CUSTOMERS - FRAME RIGHT ======= */
#our-customers-right {
	background-color: #f2f2f2;
}
#our-customers-right {
	padding-bottom: 30px;
}
/* Decoration for list of customers */
#our-customers-right span {
	color: #21385e;
}
#our-customers-right {
	color: orange;
	font-weight: 900;
}
#our-customers-right span:nth-child(3n+1) {
	font-weight: 900;
}
#our-customers-right span:nth-child(3n+2) {
	font-weight: 400;
}
#our-customers-right span:nth-child(3n+3) {
	font-weight: 300;
	color: black;
}
/* ==========  CONTACT - FRAME LEFT ========== */
#contact-left {
	background-color: #b1a9e1;
}
.contact-left__img {
	width: 100%;
	margin: 20% 0 20% 0;
}
.contact-left__hdr {
	margin-top: 28%;
}
/* ==========  CONTACT - FRAME RIGHT ========= */
#contact-right {
	background-color: #f2f2f2;
}
.contact-right__btn {
	margin: 15% 0 10% 0;
}
.contact-right__invite {
	font-size: 1.6em;
	font-weight: 300;
	margin: 8% 0 0 0;
	text-align: center;
}
/* ============================================= */
/* T E S T   A R E A */
/* =============================================================== */
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* =============================================================== */
@media (min-width:320px) { 
	.marker {
		background-color: blue;
	}
	#nav-KT {
		font-size: 2.0em;
	} 
	.contact-right__btn {
		font-size: 1.1em;
	} 
}
/* ============================================= */
/* smartphones, Android phones, landscape iPhone */ 
/* ============================================= */
@media (min-width:480px) { 
	.marker {
		background-color: green;
	}
	.container {
		max-width: 500px;
	}
}
/* ===================================================== */
/* Small devices (my iPhone, landscape)                  */
/* ===================================================== */
@media only screen and (min-width: 568px) { 
	.marker {
		background-color:yellow;
	}
}
/* ===================================================== */
/* col-sm-*	Small devices (tablets, 768px and up)        */
/* ===================================================== */
@media only screen and (min-width: 768px) { 
	.marker {
		background-color: orange;
	}
	.container {
		max-width: 750px;
	}
	.navbar-collapse {
		max-width: 340px;
	}
	.nav> li> a {
		padding: 5px;
	}
	body {
		margin: 65px;
	}
	#services, #our-customers, #contact, #about-us {
		margin-top: -65px;
		padding-top: 65px;
	}
	/* Adjust images position */
	/*
	#services-left img {
		margin-top: 10px;	
	}
	#about-us-left img {
		margin-top: 90px;	
	}
	#our-customers-left img {
		margin-top: 30px;	
	}
	.contact-left__img {
		margin-top: 50px;	
	}
	*/
	/* Set each sections height */
	#services-left, #services-right {
		height: 460px;
	}
	#about-us-left, #about-us-right {
		height: 560px;
	}
	#our-customers-left, #our-customers-right {
		height: 500px;
	}
	#contact-left, #contact-right {
		height: 280px;
	}
	/* Background coloring 
		*-left = color1    *-right = color2
		*-left = color3    *-right = color4
		*-left = color1    ...repeat  */
	#services-left {
		background-color: #b1a9e1;
	}
	#services-right {
		background-color: #bbb4e4;
	}
	#about-us-left {
		background-color: #f2f2f2;
	}
	#about-us-right {
		background-color: #ffffff;
	}
	#our-customers-left {
		background-color: #b1a9e1;
	}
	#our-customers-right {
		background-color: #bbb4e4;
	}
	#contact-left {
		background-color: #f2f2f2;
	}
	#contact-right {
		background-color: #ffffff;
	}
	#nav-KT {
		font-size:2.6em;
		margin: 10px 0 5px -15px;
	}
}	
/* ===================================================== */
/* col-md-* big landscape tablets, laptops, and desktops */
/* ===================================================== */
@media (min-width:992px) {
	.marker {
		background-color: red;
	}
}
/* ==================================== */
/* col-lg-* hi-res laptops and desktops */
/* ==================================== */
@media (min-width:1200px) {
	.marker {
		background-color: pink;
	}
}
/* ================================================ */
/* Print styling                                    */
/* http://daneveland.com/content/printing-bootstrap */
/* ================================================ */
@media print {
}
